{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}

{% block page_product_detail_tabs %}<!-- page_product_detail_tabs -->{{  parent() }}{% endblock %}
{% block page_product_detail_tabs_inner %}<!-- page_product_detail_tabs_inner -->{{  parent() }}{% endblock %}

{% block page_product_detail_tabs_content_description %}
<!-- page_product_detail_tabs_content_description -->
  {{  parent() }}
    <!-- INSERTED content from src/Resources/views/storefront/page/product-detail/tabs.html.twig -->
    <h3>{{ 'ingos.costTransparency.costTransparency' | trans }}</h3>
    <p class="ingos-info">{% sw_icon 'info' %} {{ 'ingos.costTransparency.percentageToManufacturer' | trans({'%percentage%': 3}) }}</p>

    <div class="ingos-cost">
        <!-- TODO better define array in php -->
        {% set ingos_cost_transparency_style = '' %}
        {% set ingos_cost_transparency_percentages = {
            'ingos_cost_transparency_percentage_01': page.product.customFields.ingos_cost_transparency_percentage_01,
            'ingos_cost_transparency_percentage_02': page.product.customFields.ingos_cost_transparency_percentage_02,
            'ingos_cost_transparency_percentage_03': page.product.customFields.ingos_cost_transparency_percentage_03,
            'ingos_cost_transparency_percentage_04': page.product.customFields.ingos_cost_transparency_percentage_04,
            'ingos_cost_transparency_percentage_05': page.product.customFields.ingos_cost_transparency_percentage_05
        } %}
        {% for ingos_cost_transparency_percentage in ingos_cost_transparency_percentages %}
            {% if ingos_cost_transparency_percentage | length > 0 %}
                {% set labelSnippetSlug = 'ingos.costTransparency.costFactorLabel0' ~ loop.index %}
                <div
                        class="ingos-cost-group ingos-cost-group-0{{ loop.index }} ingos-active"
                        id="ingos-cost-group-0{{ loop.index }}"
                        title="{{ labelSnippetSlug | trans | sw_sanitize }}"
                >
                    <div class="ingos-cost-group-bar"></div>
                    <div class="ingos-cost-group-label">
                        <p class="ingos-cost-group-label-title">{{ labelSnippetSlug | trans | sw_sanitize }}</p>
                        <p class="ingos-cost-group-label-share">{{ ingos_cost_transparency_percentage }}%</p>
                    </div>
                </div>
                {% set ingos_cost_transparency_style =
                       ingos_cost_transparency_style ~
                       '#ingos-cost-group-0' ~ loop.index ~
                       '{ width: ' ~ ingos_cost_transparency_percentage ~ '%; }'
                %}
            {% endif %}
        {% endfor %}
       <style>{{ ingos_cost_transparency_style }}</style>

        <!-- TODO replace legacy onclick handler by addEventListener when the content has loaded -->

    </div>
{% endblock %}